@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;500;700&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-mono: 'Roboto Mono', monospace;

    --color-slate-blue: #1E293B;
    --color-deep-navy: #0F172A;
    --color-intl-orange: #EA580C;
    --color-safety-amber: #FBBF24;
    --color-off-white: #F8FAFC;
}
